/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  .row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }
  
  p, li {
    color: #444;
    font-size: 14px;
  }
  
  /* Barra de navegação */
  header, .navbar {
    background: linear-gradient(-135deg, rgba(0, 17, 250, 0.61), black);

    /* Adicione as outras propriedades do Figma */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }  
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }



  
  #logo {
    width: 85px;
  }
  
  .navbar-brand {
    padding: 0;
    color: #FFF;
  }
  
  .navbar-brand:hover {
    color: #FFF;
  }
  
  #navbar-links a {
    color: #FFF;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #FFF;
  }
  
