


section{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.member {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.member img {
    width: 100%;
    height: auto;
    display:block;
}

.member h3 {
    margin: 20px 0;
}

.member p {
    margin: 20px 0;
}

@media (max-width: 768px) {
    .member {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .member {
        width: 100%;
    }
}